
<h2>@ViewData["Title"]</h2>

<h3>@ViewData["ApiHit1Uri"] </h3>
<p>@ViewData["ApiHit1Result"]</p>

<h3>@ViewData["ApiHit2Uri"] </h3>
<p>@ViewData["ApiHit2Result"]</p>

<h3>@ViewData["ApiHit3Uri"] </h3>
<p>@ViewData["ApiHit3Result"]</p>